[Unit]
Description=File Watcher Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /etc/FileWatcher/watchdir.py
[Install]
WantedBy=multi-user.target